IANA protocol name comparisons should be case-insensitive

# Describe the bug
Assertion [`has-expected-network-protocols`](https://github.com/GSA/fedramp-automation/blob/c80a562746e192c4e50ec9ef82ba5f00b4cb5235/src/validations/rules/ssp.sch#L4231-L4249) should be case-insensitive. This is likely not the only instance.
See [RFC 6335 §5.1 ¶2](https://datatracker.ietf.org/doc/html/rfc6335#section-5.1).

# Who is the bug affecting?
Anyone declaring protocol who expects the comparison will be case-insensitive.

# Is this report specifically related to [the Word or Excel files from fedramp.gov?](fedramp.gov/documents-templates/)
No.

# What version of OSCAL are you using? (Check our info on [supported OSCAL versions](https://github.com/GSA/fedramp-automation/blob/master/README.md#support-and-oscal-deprecation-strategy))

# What is affected by this bug?
`component` and `inventory-item` `protocol` elements declared using upper- or lower-case names may trigger assertion failures which are not case-insensitive.

# Expected behavior (i.e. solution)
All IANA protocol name comparisons are case-insensitive.
